*{
	margin:0;
	padding:0;
}
body{
	margin:0 auto; /* auto é ´para centralizar */
	width: 940px;
	font-size: 14px;
	font-family: verdana, Geneva, Sans-serif;
	background-color: #f5f5f5;	
	color: #999;
}
header, nav, section, article, footer{
	display: block;
}
header h1{
	font-size: 35px;
	line-height: 40px;
	padding: 20px 0; /* 20px é top e rodapé, 0 é esquerda e direita*/
}

article {
	clear:both;
	margin-top: 10px;
	text-align: justify;
}

nav ul {
	list-style-type: none; /* tirando o estilo da nav>ul */
}

nav ul li {
	float:left; /* flutuando os li para a esquerda */
}

nav ul li a {
	display: block;
	height: 30px; /* altura */
	padding: 0 30px; /* espaçamento */
	float:left; /* flutuar a esquerda */
	font-size: 13px;
	line-height: 30px; /* altura da linha */
	text-align: center; /* alinhamento do texto */
	text-decoration: none; /* retirar sublinhado dos links */
	color:#000;
	font-weight: bold; /* negrito */
}

}

nav ul li a.selecionado{
	color:#fff;
	background-color: #F10F0F; 
	margin-left: 10px; /* margin esquerda */
	padding: 0 58px;
	height: 30px; /* altura da tag */
	line-height: 30px; /* altura da linha */
	margin-top: 2px; /* uma pequena margin no título */

}

section#intro{
	height: 235px;
	width: 940px;
	background: url('outubrorosa.png') right top no-repeat #DDEEEE;
	margin-top: 60px;
	padding-left: 10px;
}

section#intro p{
	padding-top: 35px;
	font-style: italic;
	font-size: 14px;
	width: 800px;
	color: #34A8E0;
	
}

article header h1{
	font-size: 22px;
	text-align: left;
	line-height: 40px;
	margin-top: 20px;
	padding: 0;

}

article p{
	margin-bottom: 10px;
	padding-right: 10px;
	width: 620px;
}

article header p{
	font-size: 15px;
	line-height: 30px;
	font-style: italic;
	margin-bottom: 0px;
}

article{
	width: 620px;
	float: left;	
}

aside{
	width: 280px;
	float: right;
	margin-left: 40px;
}

aside section{
	margin-top: 35px;
}

aside section h1{
	margin-bottom: 15px;
	font-size: 16px;
}
aside ul li a{
	text-decoration: none; /* retirar sublinhado dos links */
	color: #F04D4D
}
 aside ul li{
 	list-style-type: none;
 }
 aside ul li a:hover{
 	text-decoration: underline; /*sublinhado quando passa o mouse*/
 }